.Frame {
  font-size: 20px;
  line-height: 180%;
  font-family: "Inter-Regular", "Arial", sans-serif;
  color: black;
  background-color: #C0C0C0;
  border-radius: 12%;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .Frame {
    font-size: calc(20px - (1024px - 100vw) * 8/599);
  }
}

@media screen and (max-width: 425px) {
  .Frame {
    font-size: 12px;
  }
}