.Table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  align-self: center;
  gap: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .Table {
    gap: calc(20px - (768px - 100vw) * 12/343);
  }
}

@media screen and (max-width: 425px) {
  .Table {
    gap: 8px;
  }
}