@font-face {
  font-family: 'Inter';
  font-style:  normal;
  src: url("./Inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  src: url("./Inter/Inter-Semi.woff2") format("woff2");
}