@font-face {
  font-family: 'Inter-Regular';
  font-style:  normal;
  src: url("./Inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter-Semibold';
  font-style:  normal;
  src: url("./Inter/Inter-SemiBold.woff2") format("woff2");
}